ion-content{
    --background:white;
}
@-webkit-keyframes slide-out-bck-center{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}100%{-webkit-transform:translateZ(-1100px);transform:translateZ(-1100px);opacity:0}}@keyframes slide-out-bck-center{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}100%{-webkit-transform:translateZ(-1100px);transform:translateZ(-1100px);opacity:0}}
.container{
    height: 400px;
    margin-top: 60%;
    .slide-out-bck-center{-webkit-animation:slide-out-bck-center .5s cubic-bezier(.55,.085,.68,.53) both;animation:slide-out-bck-center .5s cubic-bezier(.55,.085,.68,.53) both}
}